body
{
	background-color: lightblue;
	font-family: "Playfair Display"; 
}
#sizer
{
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 1500px;
}
div
{
	background-color: white;
	margin-left: 75px;
	margin-right: 75px;
}
#title
{
	text-align: center;
	font-size: 40px;
}
#title span
{
	color: red;
}
h2:nth-child(1)
{
	padding-top: 38px;
}
p
{
	text-align: justify;
	font-size: 20px;
}
#img1
{
	float:right;
	margin-left: 15px;
	margin-bottom: 10px;
}
#img2
{
	float:left;
	margin-right: 15px;
	margin-bottom: 10px;
}
.imgfloat
{
	width: 40%;
	height: 40%;
}
nav > a
{
	box-sizing: border-box;
	display: inline-block;
	width: 19.725%;
	padding: 5px;
	text-align: center;
	border: 2px solid black;
	text-decoration: none;
}
a:link
{
	color:black;
	font-size: 17px;
	opacity: 1;
}
a:visited
{
	color:black;
	font-size: 17px;
}
a:hover
{
	color:black;
	font-size: 17px;
	opacity: 0.5;
}
a:active
{
	color:black;
	font-size: 17px;
	opacity: 0.5;
}
section 
{
	text-align: center;
}
.left
{
	text-align: left;
}
.references
{
	font-size: 15px;
}
footer > a
{
	display: inline-block;
	width: 33px;
	height: 32px;
	margin-right: 10px
}
.sprite 
{
	background: url('../images/Sprites 1.jpg') no-repeat -226px -129px;
	width: 33px;
	height: 32px;
}
.sprite:hover 
{
	background: url('../images/Sprites 1.jpg') no-repeat -226px -55px;
	width: 33px;
	height: 32px;
}
.sprite2 
{
	background: url('../images/Sprites 1.jpg') no-repeat -340px -129px;
	width: 33px;
	height: 32px;
}
.sprite2:hover 
{
	background: url('../images/Sprites 1.jpg') no-repeat -340px -54px;
	width: 33px;
	height: 32px;
}
.sprite3
{
	background: url('../images/Sprites 1.jpg') no-repeat -398px -129px;
	width: 33px;
	height: 32px;
}
.sprite3:hover 
{
	background: url('../images/Sprites 1.jpg') no-repeat -398px -54px;
	width: 33px;
	height: 32px;
}
